---
layout: default
---

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/slide/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slide/2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slide/3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slide/4.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slide/5.png" class="d-block w-100" alt="...">
        </div>
          <div class="carousel-item">
            <img src="/assets/img/slide/8.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section>
    <div class="row mx-3">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h3>Mandate</h3>
                </div>
            </div>
            <hr>
            <img src="/assets/img/mandate.png" class="img-fluid" alt="KVK Medak">
            <br>
            <br>
            {% include mandate.html %}
            <p>To Know more about goals of KVK <a href="/mandate">clickhere</a> </p>
        </div>
        <div class="col-md-6">
            <h1 class="text-success"><strong>Welcome to Krishi Vigyan Kendra </strong></h1>
            <hr>
            {% include about.html %}
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Host Organization </h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h5><strong>Ekalavya Grameena Vikas Foundation</strong></h5>
                            <br>
                        </div>
                        <div class="col-md-3">
                            <img src="/assets/img/egvf-logo.jpg" class="img-fluid" alt="EGVF | KVK | KVK Medak">
                        </div>
                        <div class="col-md-9">
                            <p>
                                Comprehensive development of villages to be centers of sustainable and self reliant
                                economies
                                through actualization of human potential
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>To Know more about vission and mission of EGVF <a href="/about-egvf">clickhere.</a> </p>
                    </div>
                </div>
            </div>
            
            <div class="row pt-3">
                <div class="col-md-12">
                    <h6>  <strong><img class="wp-image-3589 aligncenter"
                                src="http://www.myradakvk.org/wp-content/uploads/2017/05/News-1.gif" alt="" width="82"
                                height="25"></strong></h6>
                    <hr>
                    <div class="card bg-success">
                        <div class="card-body">
                            <a class="text-white" href="/news-letter-feb-2023" target="_blank">MONTHLY NEWS LETTER FEBRUARY-2023</a>
                        </div>
                    </div>
                </div>
            </div>
            
             <div class="row pt-3">
                <div class="col-md-12">
                  
                    <hr>
                    <div class="card bg-success">
                        <div class="card-body">
                            <a class="text-white" href="/assets/news-letters/March-23.pdf" target="_blank">MONTHLY NEWS LETTER MARCH-2023</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <br>
            <div class="row pt-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Gallery</h3>
                        </div>
                    </div>
                    <hr>
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/assets/img/gallery/5.png" class="d-block w-100" alt="...">
                            </div>
                            {% assign photos = site.data.gallery %}
                            {% for photo in photos %}
                            {{photo.image_url}}
                            <div class="carousel-item">
                                <img src="/assets/img/gallery/{{photo.image_url}}" class="d-block w-100"
                                    alt="KVK Gallery">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
