<div class="aos-init aos-animate" data-aos="fade-up">
    <div class="row d-flex align-items-stretch text-justify">
        <div class="col-lg-12 aos-init aos-animate text-justify" data-aos="fade-up">
            <p class="justify-content-center">
                <b>Ekalavya Grammena Vikas Foundation, Krishi Vigyan Kendra, Medak (KVK-Medak)</b> is a
                district level Agriculture Science Center established in May, 2017 under the affiliation of Indian
                Council of Agricultural Research (ICAR), New Delhi. Ekalavya Grameena Vikas Foundation (EGVF) is the
                host organization of KVK-Medak.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <p> KVK-Medak is situated in at Tuniki Village of Kowdipally Mandal in Medak District of Telangana which
                falls under Agriculture Technology Application Research Institute (ATARI) Zone-X, Hyderabad and
                became fully operational in May 2018.
            </p>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <img src="/assets/img/administration-building.jpeg" class="img-fluid" alt="">
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <p>
                Indian Council of Agricultural Research (ICAR), Government of India mandated the establishment of
                Krishi Vigyan Kendras as grassroots level Agriculture Science Centers to provide various types of
                farm support activities like technology dissemination to farmers, training, awareness to achieve the
                set of objectives. KVK play a vital role in conducting on farm testing of new technologies and
                demonstrating location specific agricultural technologies.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <p>
                KVK conducts demonstrations to prove the potential of various crops at farmers’ fields. Also
                conducts need based training programmes for the benefit of farmers, farm women and rural youth. KVK
                creates awareness about improved agricultural technologies through extension programmes. Critical
                and quality inputs like seeds, planting materials, organic products, bio fertilizers and livestock
                are produced by the KVK and made available to the farmers.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <p>
                The operational area of this Krishi Vigyan Kendra is in 20 mandals of Medak district. The vision of
                KVK-Medak is to make farming self-resilient and self-sustainable with the mission to reduce
                dependency on external
                inputs.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <p> The main aim of KVK-Medak is to reduce the time lag between generation of technology at the research
                institutions and its transfer to the farmer's field for increasing production, productivity and
                income from the agriculture and allied sectors on a sustained basis with emphasis on non-chemical
                methods of Soil fertility and Pest management. In order to achieve this goal, four mandates have
                been envisaged in the design of the Krishi Vigyan Kendra.</p>
        </div>
    </div>
</div>