<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>KVK Medak</h3>
            <p>
              Dr. Ramanaidu Ekalavya Foundation<br><br>
              <strong>Krishi Vigyan Kendra</strong><br>
              Tuniki (Vill), Kowdipally (Mdl), District:Medak<br>
              Telangana State - 502 316
              <strong>Phone:</strong> +91 75690 39441<br>
              <strong>Email:</strong> info@kvkmedak.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/krishivigyankendra.tuniki" target="_blank" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://goo.gl/maps/yycJWLg1Xdsn8tsg9" target="_blank" class="google map location"><i
                  class="bi bi-geo-alt"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>KVK Medak</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://jinnabalu.com">Jinna Balu</a> with <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->