<div class="aos-init aos-animate" data-aos="fade-up">
    <div class="row d-flex align-items-stretch">
        <div class="col-lg-12 aos-init aos-animate text-justify" data-aos="fade-up">
            <p>
                Knowledge and Resource Centre for improving overall agricultural economy in the operational area.
            </p>
            <p>On Farm Trails (OFTs) for Technology Assessment and Refinement.
            </p>
            <p>Front line Demonstrations (FLDs) for showcasing potentials on improved varieties, modern technologies for
                creating awareness/popularizing technologies among farmers.
            </p>
            <p>Training and Capacity building for farmers, farm women and rural youth.
            </p>
        </div>
    </div>
</div>