  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
      <div class="container-fluid d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
              <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">kvkmedak@egvf.org
                  kvkmedak2@gmail.com</a>
              <i class="bi bi-phone-fill phone-icon"></i> +91 75690 39441
          </div>
          <div class="social-links d-none d-md-block">
              <a href="https://www.facebook.com/krishivigyankendra.tuniki" target="_blank" class="facebook"><i
                      class="bi bi-facebook"></i></a>
              <a href="https://goo.gl/maps/yycJWLg1Xdsn8tsg9" target="_blank" class="google map location"><i
                      class="bi bi-geo-alt"></i></a>
          </div>
      </div>
  </section>
  <div class="d-flex align-items-center d-none d-md-block">
      <div class="container-fluid d-flex justify-content-center justify-content-center">

          <!-- <img src="assets/img/banner.jpg" class="img-fluid" align="center" width="1500" height="180"> -->

          <table width="100%">
              <tbody>
                  <tr>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td><img src="assets/logo/icarlogo.png" align="left" width="110" height="100"></td>
                      <td style="text-align:center">
                          <div class="h6" style="color:#2eca6a">
                              <strong>Indian Council of Agricultural Research, New Delhi</strong>
                          </div>
                          <div class="h5 text-default text-danger">
                              Dr. Ramanaidu Ekalavya Grameena Vikas Foundation
                          </div>
                          <font size="12" style="color:#027a06">
                              <strong>KRISHI VIGYAN KENDRA, Medak</strong>
                          </font>
                          <br>
                          <font size="3.5" style="color:#2eca6a">
                              Tuniki, Kowdipally, Medak
                              Telangana - 502 316
                          </font>
                      </td>
                      <td><img src="assets/img/egvf-logo.jpg" align="right" width="130" height="130"></td>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

  <header id="header" class="d-flex align-items-center">
      <div class="container-fluid d-flex align-items-center">

          <div class="logo me-auto">
              <h1>
                  <a href="index.html"><img src="assets/logo/icarlogo.png" alt="" class="img-fluid"></a>
                  <a class="navbar-brand text-brand" style="
          color: #000000;
          font-size: 2rem;
          font-weight: 600;" href="index.html">KVK <span style="    color: #2eca6a;">Medak</span></a></h1>
          </div>
          <nav id="navbar" class="navbar">
              <ul>
                  <li><a class="nav-link scrollto" href="/">Home</a></li>
                  <li class="dropdown">
                      <a href="/about-us"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="/vission-and-mission">Vision and Mission</a></li>
                          <li><a href="/mandate">Mandate</a></li>
                          <li><a href="/about-us">KVK</a></li>
                          <li class="dropdown"><a><span>Host Organization</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/about-egvf">About EGVF</a></li>
                              </ul>
                          </li>
                          <li><a target="_blank" href="https://medak.telangana.gov.in/">District Profile</a></li>
                          <li><a href="/our-team">Our Team</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a><span>Linkage</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a target="_blank" href="https://www.icar-iirr.org">IIRR</a></li>
                          <li><a target="_blank" href="">CIL</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a><span>Facilities</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="/bio-control-lab">Bio Control Lab</a></li>
                          <li><a href="/atic">ATIC</a></li>
                          <li><a href="/">Soil Test Lab</a></li>
                          <li><a href="/">Staff quarters</a></li>
                          <li><a href="/demo-units">Demo Units</a>
                              <!--
                              <ul>

                                  <li>
                                    <a href="/vermi-compost-under-mango-orchard">Vermi Compost Under Mango Orchard</a>
                                  </li>
                                  <li><a href="/permanent-pandal-system">Permanent Pandal System</a></li>
                                  <li><a href="/goshala">Goshala</a></li>
                                  <li><a href="/azolla">Azolla</a></li>
                                  <li><a href="/vermi-compost-under-mango-orchard">Vermi Compost</a></li>
                                  <li><a href="/poultry">Poultry</a></li>
                                  <li><a href="/custom-hiring-center">Custom Hiring Center </a></li>
                                  <li><a href="/">Farm Pound</a></li>
                                  <li><a href="/">Vermicompost in Protected Shed </a></li>
                                  <li><a href="/">Kitchen Garden</a></li>
                              </ul>
                            -->
                          </li>
                          <li class="dropdown"><a><span>Fodder Caferteria</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>

                                  <li><a href="/">Micro Irrigation</a></li>
                              </ul>
                          </li>

                          <li><a>Sprinklers</a></li>
                          <li class="dropdown"><a><span>Rain Drip</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/vegitable-nursery">Vegitable Nursery</a></li>
                                  <li><a href="/">Low Cost Trellies</a></li>
                                  <li><a href="/">Pandal System</a></li>
                                  <li><a href="/">Farm Pond</a></li>
                              </ul>
                          </li>
                          <li class="dropdown"><a><span>Percolation Farm Ponds</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/">Integrated Farming System</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown"><a><span>Activities</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="/">Frontline Demonstrations</a></li>
                          <li><a href="/on-farm-trials">On Farm Trials</a></li>
                          <li><a href="/trainings">Trainings</a></li>
                          <li><a href="/">Diagnostic Visits</a></li>
                          <li><a href="/">Group Discussions</a></li>
                          <li><a href="/">Field Days</a></li>
                          <li><a href="/fpo">FPO</a></li>
                          <li><a href="/bioinputs">Bio Inputs</a></li>
                          <li><a href="/swatch-bharat-abyaan">Swatch Bharat</a></li>
                          <li><a href="/jal-shakti-abiyan">Jal Shakti Abiyan</a></li>
                          <li><a href="/">Poshan Abiyan</a></li>
                          <li class="dropdown"><a><span>Success Stories</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/integrated-crop-management-in-bitter-gourd">Integrated Crop Management
                                          in Bitter Gourd</a></li>
                                  <li><a href="/low-cost-pandal-system">Low-Cost Pandal System</a></li>
                                  <li><a href="/drum-seeder-for-direct-seeding">Drum Seeder - Direct Seeding</a></li>
                              </ul>
                          </li>
                          <li class="dropdown"><a><span>ICT</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/m-kisan-portal">MKissan Portal</a></li>
                                  <li><a href="/">Kissan Sarathi Portal</a></li>
                                  <li><a href="/social-media">Social Media</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown"><a><span>Media</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="/">KVK in News</a></li>
                          <li><a href="/">EGVF in News</a></li>
                          <li><a href="/">Photos</a></li>
                          <li><a href="/">Videos</a></li>
                          <li><a href="/">Distinguished Visitors</a></li>
                          <li class="dropdown"><a><span>Publications</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/">Annual Reports</a></li>
                                  <li><a href="/">Bulletins</a></li>
                                  <li><a href="/">Brochures</a></li>
                                  <li><a href="/">Folders</a></li>
                                  <li><a href="/">News Letters</a></li>
                                  <li><a href="/">Pamplets</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li><a class="nav-link scrollto" href="#awards">Awards</a></li>
                  <li><a class="nav-link scrollto" href="/career">Career</a></li>
                  <li><a class="nav-link scrollto" href="/contact-us">Contact Us</a></li>
                  <li><a class="nav-link scrollto" href="#team">epayment</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->


      </div>
  </header>