  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
      <div class="container-fluid d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
              <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@kvkmedak.com</a>
              <i class="bi bi-phone-fill phone-icon"></i> +91 75690 39441
          </div>
          <div class="social-links d-none d-md-block">
              <a href="https://www.facebook.com/krishivigyankendra.tuniki" target="_blank" class="facebook"><i
                      class="bi bi-facebook"></i></a>
              <a href="https://goo.gl/maps/yycJWLg1Xdsn8tsg9" target="_blank" class="google map location"><i
                      class="bi bi-geo-alt"></i></a>
          </div>
      </div>
  </section>
  <section class="d-flex align-items-center">
      <div class="container-fluid d-flex justify-content-center justify-content-center">
          <table width="100%">
              <tbody>
                  <tr>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td><img src="assets/logo/icarlogo.png" align="left" width="210" height="200"></td>
                      <td style="text-align:center">
                          <div class="h4 text-success">
                              <strong>Indian Council of Agricultural Research, New Delhi</strong>
                          </div>
                          <div class="h6 text-default">
                              <strong>(Ministry of Agriculture and Farmers Welfare)</strong>
                          </div>
                          <br>
                          <div class="display-4 text-success font-weight-bold">
                              Ekalavya Grameena Vikas Foundation
                          </div>
                          <br>
                          <font size="6">
                              <strong>KRISHI VIGYAN KENDRA, Medak</strong>
                          </font>
                          <br>
                          <font size="4.5">
                              <strong>Tuniki, Kowdipally, Medak
                                  Telangana - 502 316</strong>
                          </font>
                      </td>
                      <td><img src="assets/img/egvf-logo.jpg" align="right" width="230" height="230"></td>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </section>

  <header id="header" class="d-flex align-items-center">
      <div class="container-fluid d-flex align-items-center">

          <div class="logo me-auto">
              <h1>
                  <a href="index.html"><img src="assets/logo/icarlogo.png" alt="" class="img-fluid"></a>
                  <a class="navbar-brand text-brand" style="
          color: #000000;
          font-size: 2rem;
          font-weight: 600;" href="index.html">KVK <span style="    color: #2eca6a;">Medak</span></a></h1>
          </div>

          <nav id="navbar" class="navbar">
              <ul>
                  <li class="dropdown">
                      <a href="#"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="/vission">Vision</a></li>
                          <li><a href="#">Mission</a></li>
                          <li><a href="#">Mandate</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="/about">KVK</a></li>
                          <li class="dropdown"><a href="#"><span>Host Organization</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/egvf-vission">EGVF Vision </a></li>
                                  <li><a href="/egvf-aim">EGVF Aim</a></li>
                              </ul>
                          </li>
                          <li><a href="/district-profile">District Profile</a></li>
                          <li><a href="/our-team">Our Team</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#"><span>Linkage</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="#">ICAR</a></li>
                          <li><a href="/iirr">IIRR</a></li>
                          <li><a href="#">ICRISAT</a></li>
                          <li><a href="#">CIL</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#"><span>Facilities</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="#">Admin Building</a></li>
                          <li><a href="#">Bio Control Lab</a></li>
                          <li><a href="/atic">ATIC</a></li>
                          <li><a href="#">Soil Test Lab</a></li>
                          <li><a href="#">Staff quarters</a></li>
                          <li class="dropdown"><a href="#"><span>Demo Units</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/vermi-compost-under-mango-orchard">Vermi Compost Under Mango Orchard</a></li>
                                  <li><a href="#">Vermicompost in Protected Shed </a></li>
                                  <li><a href="#">Kitchen Garden</a></li>
                                  <li><a href="#">Livestock</a></li>
                              </ul>
                          </li>

                          <li><a href="#">Dairy</a></li>
                          <li><a href="/poultry">Poultry</a></li>

                          <li class="dropdown"><a href="#"><span>Fodder Caferteria</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/custom-hiring-center">Custom Hiring Center </a></li>
                                  <li><a href="#">Micro Irrigation</a></li>
                              </ul>
                          </li>
                          <li><a href="#">Drip</a></li>
                          <li><a href="#">Sprinklers</a></li>
                          <li class="dropdown"><a href="#"><span>Rain Drip</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/vegitable-nursery">Vegitable Nursery</a></li>
                                  <li><a href="#">Low Cost Trellies</a></li>
                                  <li><a href="#">Pandal System</a></li>
                                  <li><a href="#">Farm Pond</a></li>
                              </ul>
                          </li>
                          <li><a href="#">Liner Farm Pond </a></li>

                          <li class="dropdown"><a href="#"><span>Percolation Farm Ponds</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/">Integrated Farming System</a></li>
                                  <li><a href="/azolla">Azolla Unit </a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#"><span>Activities</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="#">Frontline Demonstrations</a></li>
                          <li><a href="#">On Farm Testing’s</a></li>
                          <li><a href="#">Trainings</a></li>
                          <li><a href="#">Diagnostic Visits</a></li>
                          <li><a href="#">Group Discussions</a></li>
                          <li><a href="#">Field Days</a></li>
                          <li><a href="/fpo">FPOs</a></li>
                          <li><a href="/swatch-bharat-abyaan">Swatch Bharat</a></li>
                          <li><a href="/jal-shakti-abiyan">Jal Shakti Abiyan</a></li>
                          <li><a href="#">Poshan Abiyan</a></li>
                          <li class="dropdown"><a href="#"><span>Case Studies/Success Stories</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/integrated-crop-management-in-bitter-gourd">Integrated Crop Management in Bitter Gourd</a></li>
                                  <li><a href="/low-cost-pandal-system">Low-Cost Pandal System</a></li>
                                  <li><a href="/drum-seeder-for-direct-seeding">Drum Seeder - Direct Seeding</a></li>
                                  <li><a href="/goshala">Goshala</a></li>
                              </ul>
                          </li>
                          <li class="dropdown"><a href="#"><span>ICT</span> <i class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="/m-kisan-portal">MKissan Portal</a></li>
                                  <li><a href="#">Kissan Sarathi Portal</a></li>
                                  <li><a href="/social-media">Social Media</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#"><span>Media</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                          <li><a href="#">KVK in News</a></li>
                          <li><a href="#">EGVF in News</a></li>
                          <li><a href="#">Photos</a></li>
                          <li><a href="#">Videos</a></li>
                          <li><a href="#">Distinguished Visitors</a></li>
                          <li class="dropdown"><a href="#"><span>Publications</span> <i
                                      class="bi bi-chevron-right"></i></a>
                              <ul>
                                  <li><a href="#">Annual Reports</a></li>
                                  <li><a href="#">Bulletins</a></li>
                                  <li><a href="#">Brochures</a></li>
                                  <li><a href="#">Folders</a></li>
                                  <li><a href="#">News Letters</a></li>
                                  <li><a href="#">Pamplets</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li><a class="nav-link scrollto" href="#awards">Awards</a></li>
                  <li><a class="nav-link scrollto" href="/career">Career</a></li>
                  <li><a class="nav-link scrollto" href="#portfolio">Contact Us</a></li>
                  <li><a class="nav-link scrollto" href="#team">epayment</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

      </div>
  </header>
  <div>
      <br>
      <marquee>
          <h3>
              <strong>
                  <u>
                      <a href="/current-developments">
                          OUR UNIQUE PILOTS OF NATIONAL IMPORTANCE DEVELOPED UNDER THE GUIDANCE OF HOST ORGANIZATION
                          EKALAVYA
                          FOUNDATION, HYDERABAD
                      </a>
                  </u>
              </strong>
          </h3>
      </marquee>
  </div>