---
layout: page
title: "Our Team"
description: "Indian Council of Agricultural Research Ekalavya Grammena Vikas Foundation Foundation Krishi Vigyan
Kendra (KVK), Medak (Telangana)"
image: ""
locale:
permalink: /our-team
---
<section>
    <div>
        <h1>Our Team</h1>
        <hr>
    </div>
    <section id="team" class="team">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                {% assign team = site.data.team %}
                {% for member in team %}
                {% if member.image_url %}
                <div class="col-xl-4 col-lg-6 col-md-6 aos-init aos-animate" data-aos="fade-up">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team/{{member.image_url}}" class="img-fluid" alt="{{member.member.Name}}"></div>
                        <div class="member-info">
                            <h4>{{member.Name}}</h4>
                            <span>{{member.Designation}}</span> 
                            <br>
                            <h2>{{member.MobileNo}}</h2> 
                            
                            <div class="social">
                                <a href="">
                                    <i class="bi bi-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="bi bi-instagram"></i>
                                </a>
                                <a href="">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}              
            </div>
        </div>
    </section>
