---
layout: page
title: "Our Team"
description: "Indian Council of Agricultural Research Ekalavya Grammena Vikas Foundation Krishi Vigyan
Kendra (KVK), Medak (Telangana)"
image: ""
locale:
permalink: /our-team
---
<section>
    <div>
        <h1>Our Team</h1>
        <hr>
    </div>
    <section id="team" class="team">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                {% assign team = site.data.team-data %}
                {% for member in team %}
                {% if member.image_url %}
                <div class="col-md-4 text-center">
                    <div class="card">
                        <img src="assets/img/team/{{member.image_url}}" class="card-img-top"
                            alt="{{member.member.Name}}">

                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <h4>{{member.Name}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{member.Designation}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{member.MobileNo}} |
                                    <a href="">
                                        <i class="bi bi-facebook"></i>
                                    </a> |
                                    <a href="">
                                        <i class="bi bi-instagram"></i>
                                    </a> |
                                    <a href="">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</section>